<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pw_user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @pw_user.email %>
</p>


<%= link_to 'Edit', edit_pw_user_path(@pw_user) %> |
<%= link_to 'Back', pw_users_path %>
